.categories-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--bg-1);
    gap: 0.25rem;
}
.categories-item-text {
    color: var(--t-1);
    font-size: var(--font-size-16);
    font-weight: 400;
}
.categories-item-link {
    color: var(--blue2);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size-16);
}
.categories-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.125rem;

}
.search-input {
    margin:1rem 0rem;

    border-radius: 100px;
    outline: 0;
    max-width:600px;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: var(--bg-1);
}
.emoji-modal-attritute {
    display: flex;
    gap: 0.125rem;
    align-items: center;
    font-size: var(--font-size-16);
    color: var(--t-1);
}

.category-grid, .search-results {
    display: flex;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: auto; */
    gap:0.25rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* .search-results > div {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.emoji-item {
    --emoji-item-width:260px;
    background-color: var(--bg-1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid var(--bg-4);
    position: relative;
    width: var(--emoji-item-width);
    height: 180px;
    
    padding: 0.5rem 1rem;
}
.emoji-item-copy {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.125rem;
    cursor: pointer;
}
.copy-span {
    width: 60px;
    display: flex;
    white-space: pre-wrap;
    flex-wrap: nowrap;
    font-size: var(--font-size-16);
    color: var(--t-1);
}
.emoji-item-emoji {
    font-size: var(--font-size-48);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.emoji-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    color: var(--t-3);
    font-size: var(--t-1);
}
.emoji-item-favourite {
    color: var(--yellow2);
    border: 1px solid transparent;
    background-color: var(--paleblue);
    padding:4px 6px;
    font-size: var(--font-size-14);
    cursor: pointer;
    border-radius: 4px;
}
.emoji-item-open {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: var(--font-size-16);
    color: var(--t-1);
    font-weight: 500;
}
.emoji-modal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 flex-direction: column;  
}
.emoji-modal > div:first-child {
    width: 400px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 500px;
    width: min-content;
    cursor: pointer;
    padding: 1rem;
   
}

.emoji-modal-copy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.125rem;
    font-size:var(--font-size-16);
    color: var(--t-1);
    padding: 4px 8px;
    box-sizing: border-box;
    width: 150px;
}

.emoji-modal-swap {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--t-1);
}

.emoji-button-plus {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--t-1);
}
.emoji-button-minus {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--t-1);
}
.emoji-modal-getcode {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.125rem;
    font-size:var(--font-size-16);
    color: var(--t-1);
    padding: 4px 8px;
    box-sizing: border-box;
    width: 100%;
    
}
