.categories-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bg-1);
    gap: 0.25rem;
    transition: var(--transition-1);
    width: 420px;
    max-width: 100vw;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 0.25rem 0.25rem;
}
.categories-item:hover {
    box-shadow: var(--box-shadow-1);
}
.categories-item-text {
    color: var(--t-1);
    font-size: var(--font-size-16);
    font-weight: 400;
}
.categories-item-link {
    color: var(--blue2);
    text-decoration: none;
    cursor: pointer;
    font-size: var(--font-size-16);
}
.categories-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.125rem;
    margin: 1rem 0rem;

}
.search-input {
    margin:1rem 0rem;
    width: 80%;
    border-radius: 100px;
    outline: 0;
    max-width:600px;
    padding: 1rem 1rem;
    border: 1px solid transparent;
    background-color: var(--bg-3);
    font-size: var(--font-size-14);
}
.search-input:focus {
    background-color: var(--bg-1);
    border-color: var(--bg-4);
}
.emoji-modal-attritute {
    display: flex;
    gap: 0.125rem;
    align-items: center;
    font-size: var(--font-size-16);
    color: var(--t-1);
    flex-wrap: wrap;
}

.category-grid, .search-results {
    display: flex;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-template-rows: auto; */
    gap:0.25rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0rem;
    
}

/* .search-results > div {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.emoji-item {
    --emoji-item-width:260px;
    background-color: var(--bg-1);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid var(--bg-4);
    position: relative;
    width: var(--emoji-item-width);
    height:200px;
    transition: var(--transition-1);
    padding: 0.5rem 1rem;
}

.emoji-item:hover {
    box-shadow: var(--box-shadow-1);
}
.emoji-item-copy {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.125rem;
    cursor: pointer;
}
.emoji-item-copy > span {
    color: var(--t-1);
    font-size: inherit;
}
.copy-span {
    width: 60px;
    display: flex;
    white-space: pre-wrap;
    flex-wrap: nowrap;
    font-size: var(--font-size-16);
    color: var(--t-1);
}
.emoji-item-emoji {
    font-size: var(--font-size-48);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.emoji-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    color: var(--t-3);
    font-size: var(--t-1);
}
.emoji-item-favourite {
    color: var(--yellow2);
    border: 1px solid transparent;
    background-color: var(--blue2);
    padding:4px 6px;
    font-size: var(--font-size-14);
    cursor: pointer;
    border-radius: 4px;
}
.emoji-item-open {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: var(--font-size-16);
    color: var(--t-1);
    font-weight: 500;
}
.emoji-modal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
 flex-direction: column;  
 padding: 1rem;
 border: 3px solid var(--t-1);
 width: min-content;
 overflow-x: hidden;
}
.emoji-modal > div:first-child {
    width: 300px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emoji-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    max-height: 550px;*/
    width: min-content;
    cursor: pointer;
    padding: 0rem;
    border: none;
   
}

.emoji-modal-copy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.125rem;
    font-size:var(--font-size-16);
    color: var(--t-1);
    padding: 4px 8px;
    box-sizing: border-box;
    width: 150px;
}

.emoji-modal-swap {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--t-1);
    background-color: var(--bg-3);
    border-radius: 8px;
    margin: 0.25rem 0rem;
    transition: var(--transition-1);
    width: 190px;
    justify-content: center;
}

.emoji-button-plus {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--t-1);
    background-color: var(--bg-3);
    border-radius: 8px;
    margin: 0rem 0.25rem;
    transition: var(--transition-1);
}
.emoji-button-minus {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--t-1);
    background-color: var(--bg-3);
    border-radius: 8px;
    margin: 0rem 0.25rem;
    transition: var(--transition-1);
}

.emoji-button-minus:hover, .emoji-button-plus:hover , .emoji-modal-swap:hover {
    background-color: var(--bg-4);
}
.emoji-modal-getcode {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.125rem;
    font-size:var(--font-size-16);
    color: var(--t-1);
    padding: 4px 8px;
    box-sizing: border-box;
    width: 100%;
    
}
.search-checkbox-label {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 24px;
    aspect-ratio: 1/1;
   
}
.search-checkbox5,.search-checkbox10, .search-checkbox20, .search-checkbox50 {
    margin: 0rem 0rem;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    height: auto;
    width: auto;  
    box-sizing: border-box; 
    /* font-size: var(--font-size-16);  */
    transform: scale(1.8);
    z-index: 1;
    opacity: 0.0;

}
.search-checkbox-span50, .search-checkbox-span5, .search-checkbox-span10, .search-checkbox-span20 {
    display: flex;
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--t-4);

}
.search-checkbox5:checked ~ .search-checkbox-span5{
    background-color: var(--bg-3);
}
.search-checkbox10:checked ~ .search-checkbox-span10 {
    background-color: var(--bg-3);
}
.search-checkbox20:checked ~ .search-checkbox-span20 {
    background-color: var(--bg-3);
}
.search-checkbox50:checked ~ .search-checkbox-span50 {
    background-color: var(--bg-3);
}
.search-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-1);
    margin: 1rem 0rem;
}
.prev-button,.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--t-1);
    font-weight: 600;
    font-size: var(--font-size-16);
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: var(--bg-3);
    transition: var(--transition-1);
}
.prev-button:hover ,.next-button:hover {
    background-color: var(--bg-4);
}
.next-button {
    background-color: var(--bg-3);
}

.search-div {
    color: var(--t-1);
    font-size: var(--font-size-16);
    font-weight: 400;
    white-space: normal;
    margin: 0.125rem 0.125rem;
}
.favourite-span {
    color: var(--t-1);
    font-size: var(--font-size-16);
}

.alert {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 1rem 1.5rem;
    background-color: var(--bg-2);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: var(--font-size-16);
    box-sizing: border-box;
    box-shadow: var(--box-shadow-2);
    border-left: 3px solid var(--red);
    border-right: 3px solid var(--palegreen);
    z-index: 1;
    color: var(--t-1);
    min-width: 300px;
} 
.alert > strong {
    margin: 0rem 0.125rem;

}  