.header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: var(--bg-1);
    box-sizing: border-box;
    padding: 1rem 2rem;
    z-index: 1;
    border-bottom: 1px solid var(--bg-4);
}

.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.hamburger-blur {
    display: none;
    position: absolute;
    width: 100vw;
    height:100dvh;
    background-color: var(--bg-2);
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.hamburger-blur.open {
    display: flex;
}
.header-menu {
    cursor: pointer;
    display: flex;
}
.header-item {
    display: none;
    align-items: center;
    color: var(--t-1);
    text-decoration: none;
    font-size: var(--font-size-16);
    font-weight: 400;
}
@media (width>736px){
    .header-menu {
        display:none;
    }
    .header-item {
        display: flex;
    }
}
.hamburger {
position: absolute;
top: 0px;
left: 0px;
background-color: var(--bg-3);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;  
  flex-direction: column;
  transform: translate(-100%,0%);
  width: 300px;
  height: 100dvh;
  transition: all 0.13s ease-in-out ;
}

.hamburger.open {
    transform: translate(0%,0%);
}

.header-theme {
    margin-left: auto;
}