.back-button {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    color: var(--t-2);
    background-color: var(--bg-2);
    text-decoration: none;
    width: min-content;
    padding: 0.25rem 0.5rem;
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0rem;
}