.back-button {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    color: var(--t-2);
    background-color: var(--bg-2);
    text-decoration: none;
    width: min-content;
    padding: 0.25rem 0.5rem;
}

.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0rem;
    position: relative;
}

.title {
    font-size: var(--font-size-24);
    color: var(--t-1);
    font-weight: 600;
    white-space: normal;
}

.theme-button {
    box-sizing:border-box;
    
}

.recent-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.filler {
    display: inline-block;
    width: 1rem;
    height: auto;
}