.back-button {
    display: inline-block;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    color: var(--t-2);
    background-color: var(--bg-3);
    text-decoration: none;
    width: min-content;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    transition: var(--transition-1);
}
.back-button:hover {
    background-color: var(--bg-4);
}
.flex-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0rem;
    position: relative;
}

.title {
    font-size: var(--font-size-24);
    color: var(--t-1);
    font-weight: 600;
    white-space: normal;
}

.theme-button {
    box-sizing:border-box;
    border: none;
    font-size: var(--font-size-16);
    color: var(--t-1);
    background-color: transparent;
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.recent-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.filler {
    display: inline-block;
    width: 1rem;
    height: auto;
}

.recent-button {
    margin: 1rem 0rem;
    border: 1px solid transparent;
padding: 0.5rem 1rem;
border-radius: 0.5rem;
color: var(--t-1);
background-color: var(--bg-3);
cursor:pointer;
transition: var(--transition-1);
font-size: var(--font-size-16);
font-weight:500;

}

.recent-button:hover {
    background-color: var(--bg-4);
}

.common-link {
    font-size: inherit;
    color: var(--blue2);
    text-decoration: none;
    font-size: inherit;
}